---

---

<footer class="bg-gray-100 py-12 px-4">
  <div class="max-w-7xl mx-auto grid grid-cols-1 md:grid-cols-4 gap-8">
    <!-- Sección de Información de la Empresa -->
    <div>
      <img
        src="/logo.png"
        alt="KYP Bioingeniería Logo"
        class="w-32 mb-4"
      />
      <p class="font-cairo text-parrStep text-[14px] mb-4">
        KYP Bioingeniería es una empresa especializada en el diseño y
        fabricación de prótesis personalizadas para personas con discapacidad
        física.
      </p>
      <!-- Iconos de Redes Sociales -->
      <div class="flex gap-4">
        <a href="https://www.facebook.com/profile.php?id=100010980698992" target="_blank">
            <svg class="text-gray-600 hover:text-black" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-brand-facebook"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 2a1 1 0 0 1 .993 .883l.007 .117v4a1 1 0 0 1 -.883 .993l-.117 .007h-3v1h3a1 1 0 0 1 .991 1.131l-.02 .112l-1 4a1 1 0 0 1 -.858 .75l-.113 .007h-2v6a1 1 0 0 1 -.883 .993l-.117 .007h-4a1 1 0 0 1 -.993 -.883l-.007 -.117v-6h-2a1 1 0 0 1 -.993 -.883l-.007 -.117v-4a1 1 0 0 1 .883 -.993l.117 -.007h2v-1a6 6 0 0 1 5.775 -5.996l.225 -.004h3z" /></svg>
        </a>
        <!-- <a href="#" target="_blank">
            <svg class="text-gray-600 hover:text-black" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-instagram"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 4a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" /><path d="M12 12m-3 0a3 3 0 1 0 6 0a3 3 0 1 0 -6 0" /><path d="M16.5 7.5l0 .01" /></svg>
        </a>
        <a href="#" target="_blank">
            <svg class="text-gray-600 hover:text-black" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-brand-linkedin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z" /><path d="M8 11l0 5" /><path d="M8 8l0 .01" /><path d="M12 16l0 -5" /><path d="M16 16v-3a2 2 0 0 0 -4 0" /></svg>
        </a> -->
        <a href="https://www.youtube.com/@kypbioingenieria" target="_blank">
            <svg class="text-gray-600 hover:text-black" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-brand-youtube"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18 3a5 5 0 0 1 5 5v8a5 5 0 0 1 -5 5h-12a5 5 0 0 1 -5 -5v-8a5 5 0 0 1 5 -5zm-9 6v6a1 1 0 0 0 1.514 .857l5 -3a1 1 0 0 0 0 -1.714l-5 -3a1 1 0 0 0 -1.514 .857z" /></svg>
        </a>
      </div>
    </div>

    <div class="hidden md:block">

    </div>

    <!-- Sección de Enlaces -->
    <div>
      <h3 class="font-display text-[32px] text-parrStep mb-4">Enlaces</h3>
      <ul class="space-y-2">
        <li>
          <a href="#benefits" class="font-cairo text-[16px] text-parrStep hover:text-black"
            >Beneficios y Características</a>
        </li>
        <li>
          <a href="#testimonios" class="font-cairo text-[16px] text-parrStep hover:text-black">Testimonios</a>
        </li>
        <li><a href="#procesos" class="font-cairo text-[16px] text-parrStep hover:text-black">Procesos</a></li>
        <li><a href="#nosotros" class="font-cairo text-[16px] text-parrStep hover:text-black">Nosotros</a></li>
        <li><a href="#faq" class="font-cairo text-[16px] text-parrStep hover:text-black">FAQ</a></li>
      </ul>
    </div>

    <!-- Sección de Contacto -->
    <div>
      <h3 class="font-display text-[32px] text-parrStep mb-4">Contacto</h3>
      <ul class="space-y-4 font-cairo text-[16px] text-parrStep">
        <li class="flex items-center gap-2 text-gray-600">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-map-pin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M18.364 4.636a9 9 0 0 1 .203 12.519l-.203 .21l-4.243 4.242a3 3 0 0 1 -4.097 .135l-.144 -.135l-4.244 -4.243a9 9 0 0 1 12.728 -12.728zm-6.364 3.364a3 3 0 1 0 0 6a3 3 0 0 0 0 -6z" /></svg>
          Calle Max Palma Arrie 119 - Los Olivos
        </li>
        <li class="flex items-center gap-2 text-gray-600">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            fill="currentColor"
            class="text-gray-600"
          >
            <path
              d="M6.62 10.79a15.531 15.531 0 0 0 6.41 6.41l2.2-2.2a1.003 1.003 0 0 1 1.11-.24c1.21.49 2.54.76 3.93.76a1 1 0 0 1 1 1v3.5c0 .55-.45 1-1 1C10.07 22 2 13.93 2 4.5 2 4 2.45 3.5 3 3.5H6.5a1 1 0 0 1 1 1c0 1.39.26 2.72.76 3.93a1 1 0 0 1-.24 1.11l-2.2 2.25z"
            ></path>
          </svg>
          +51 922 578 858
        </li>
        <li class="flex items-center gap-2 text-gray-600">
            <svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="currentColor"  class="icon icon-tabler icons-tabler-filled icon-tabler-mail"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M22 7.535v9.465a3 3 0 0 1 -2.824 2.995l-.176 .005h-14a3 3 0 0 1 -2.995 -2.824l-.005 -.176v-9.465l9.445 6.297l.116 .066a1 1 0 0 0 .878 0l.116 -.066l9.445 -6.297z" /><path d="M19 4c1.08 0 2.027 .57 2.555 1.427l-9.555 6.37l-9.555 -6.37a2.999 2.999 0 0 1 2.354 -1.42l.201 -.007h14z" /></svg>
            contacto@kypbioingenieria.com
          </li>
      </ul>
    </div>
  </div>

  <!-- Copyright -->
  <div
    class="max-w-7xl mx-auto mt-12 border-t border-gray-300 pt-4 text-center"
  >
    <p class="text-[16px] font-cairo text-parrStep">
      © Copyright 2024, KYP Bioingeniería. Todos los derechos reservados.
    </p>
  </div>
</footer>
