---
import { Badge } from "@/components/ui/badge"
import { cn } from "@/lib/utils"
---

<section class="mx-auto max-w-7xl px-4 w-full grid grid-cols-1 md:grid-cols-2 gap-8 p-10 items-center">
    <div class="flex flex-col items-start">

    </div>
    <div class="flex flex-col justify-center lg:justify-start gap-4">
        <Badge variant="outline" className={cn("font-cairo font-bold text-[20px] text-default1 bg-default1/10 border border-default1/50 w-[260px] text-center")}>Beneficios y Características</Badge>
        <div class=>
            <h3 class="font-display font-normal text-[40px]">¿Por qué elegir nuestras prótesis?</h3>
        </div>
    </div>
    
</section>