---

---

<section
  id="faq"
  class="mx-auto max-w-7xl py-20 px-4 w-full p-10 items-center gap-12 overflow-hidden"
>
  <h2 class="font-display font-semibold text-[32px] text-center">FAQ</h2>
  <p class="font-cairo font-medium text-[24px] text-center text-parrStep">
    Preguntas Frecuentes
  </p>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-8 pt-24">
    <div class="flex gap-4 items-start">
      <svg class="w-8" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>

      <div>
        <h3 class="font-display font-normal text-lg text-black">¿Cómo se si soy candidato para una prótesis?</h3>
        <p class="font-cairo text-gray-600 mt-2">
          Ofrecemos una evaluación gratuita para determinar la mejor opción para ti.
        </p>
      </div>
    </div>

    <div class="flex gap-4 items-start">
      <svg class="w-8" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>

      <div>
        <h3 class="font-display font-normal text-lg text-black">¿Qué incluye la terapia pre y post prótesis?</h3>
        <p class="font-cairo text-gray-600 mt-2">
          Sesiones personalizadas de terapia psicológica y física para facilitar tu adaptación.
        </p>
      </div>
    </div>

    <div class="flex gap-4 items-start">
      <svg class="w-8" xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-chevron-right"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 6l6 6l-6 6" /></svg>

      <div>
        <h3 class="font-display font-normal text-lg text-black">¿Sesiones personalizadas de terapia psicológica y física para facilitar tu adaptación?</h3>
        <p class="font-cairo text-gray-600 mt-2">
          Cubrimos cualquier defecto de fabricación o ajustes necesarios sin costo adicional durante el primer año.
        </p>
      </div>
    </div>
  </div>
</section>
