---
import { Button } from "@/components/ui/button"
import {
  Card,
  CardContent,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card"
import { Input } from "@/components/ui/input"
import { Label } from "@/components/ui/label"
import { Textarea } from "@/components/ui/textarea"
---

<section
  class="mx-auto max-w-7xl px-4 w-full grid grid-cols-1 md:grid-cols-2 gap-8 p-10"
>
  <!-- Texto y título -->
  <div class="flex flex-col items-start md:py-20">
    <h1 class="text-4xl lg:text-5xl font-display font-bold text-black leading-tight">
      Prótesis de Pierna:
      <br class="hidden md:block" />
      <span class="text-default1">Adaptado a tu nivel</span>
      <br class="hidden md:block" />
      de actividad
    </h1>
    <p class="font-cairo font-medium text-[18px] mt-4">
      Prótesis de pierna de alta calidad con apoyo integral en tu
      rehabilitación. Recupera tu movilidad con confianza y un equipo
      comprometido a tu lado.
    </p>
  </div>

  <!-- Formulario -->
  <div class="flex justify-center lg:justify-end">
    <Card className="w-full max-w-[450px]">
      <CardHeader>
        <CardTitle className="font-cairo font-bold text-[28px] text-center">
          Agenda tu Cita
        </CardTitle>
      </CardHeader>
      <CardContent>
        <form>
          <div class="grid w-full items-center gap-4">
            <div class="flex flex-col space-y-1.5">
              <Label htmlFor="name">Nombres y Apellidos</Label>
              <Input id="name" placeholder="Nombres y Apellidos" />
            </div>
            <div class="flex flex-col space-y-1.5">
              <Label htmlFor="cellphone">Número de Celular</Label>
              <Input id="cellphone" placeholder="Número de Celular" />
            </div>
            <div class="grid w-full gap-1.5">
              <Label htmlFor="message-2">Descripción</Label>
              <Textarea placeholder="Escribe tu mensaje aquí." id="message-2" />
            </div>
          </div>
        </form>
      </CardContent>
      <CardFooter className="flex justify-between">
        <Button>
          Enviar
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-send"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M10 14l11 -11" />
            <path d="M21 3l-6.5 18a.55 .55 0 0 1 -1 0l-3.5 -7l-7 -3.5a.55 .55 0 0 1 0 -1l18 -6.5" />
          </svg>
        </Button>
      </CardFooter>
    </Card>
  </div>
</section>

