---

---

<section
  id="procesos"
  class="mx-auto max-w-7xl py-20 px-4 w-full p-10 items-center gap-12 overflow-hidden md:w-[1000px]"
>
  <h2 class="font-display font-semibold text-[32px] text-center">Procesos</h2>

  <!-- Primera Etapa -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 pt-20 md:pt-[100px]">
    <div class="flex flex-col justify-center">
      <div class="">
        <img src="/lp-protesis-pierna/Recurso.png" alt="" class="w-auto h-[70px] mb-8" />
        <p class="font-cairo font-medium text-[18px] ml-8">
          Nuestro equipo de psicología acompaña al paciente y a su familia desde
          el inicio, brindando un espacio seguro para expresar sus emociones.
        </p>
      </div>
    </div>
    <div class="md:col-span-2 items-end">
      <img
        src="/lp-protesis-pierna/primera_etapa.png"
        alt="Primera Etapa"
        class="w-auto md:h-[300px] ml-auto"
      />
    </div>
  </div>

  <!-- Segunda Etapa -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 pt-20 md:pt-[150px]">
    <div class="md:col-span-2 order-2 md:order-none">
      <img
        src="/lp-protesis-pierna/segunda_etapa.png"
        alt="Segunda Etapa"
        class="w-auto md:h-[300px]"
      />
    </div>
    <div class="flex flex-col justify-center items-end order-1 md:order-none">
      <div class="">
        <img src="/lp-protesis-pierna/Recurso2.png" alt="" class="w-auto h-[70px] mb-8 ml-auto" />
        <p class="font-cairo font-medium text-[18px] mr-8 text-right">
            Nuestro equipo de fisioterapia trabaja junto al paciente para preparar su cuerpo antes de la prótesis, fortaleciendo músculos y mejorando movilidad. 
        </p>
      </div>
    </div>
  </div>

  <!-- Tercera Etapa -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 pt-20 md:pt-[150px]">
    <div class="flex flex-col justify-center">
      <div class="">
        <img src="/lp-protesis-pierna/Recurso3.png" alt="" class="w-auto h-[70px] mb-8" />
        <p class="font-cairo font-medium text-[18px] ml-8">
            En la tercera etapa, realizamos una toma precisa de medidas para la prótesis, asegurándonos de que cada detalle se adapte a la anatomía del paciente.
        </p>
      </div>
    </div>
    <div class="md:col-span-2 items-end">
      <img
        src="/lp-protesis-pierna/tercera_etapa.png"
        alt="Tercera Etapa"
        class="w-auto md:h-[300px] ml-auto"
      />
    </div>
  </div>

  <!-- Cuarta Etapa -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 pt-20 md:pt-[150px]">
    <div class="md:col-span-2 order-2 md:order-none">
      <img
        src="/lp-protesis-pierna/cuarta_etapa.png"
        alt="Cuarta Etapa"
        class="w-auto md:h-[300px]"
      />
    </div>
    <div class="flex flex-col justify-center items-end order-1 md:order-none">
      <div class="">
        <img src="/lp-protesis-pierna/Recurso4.png" alt="" class="w-auto h-[70px] mb-8 ml-auto" />
        <p class="font-cairo font-medium text-[18px] mr-8 text-right">
            En la cuarta etapa, elaboramos el socket final, asegurándonos de que sea cómodo y perfectamente ajustado al muñón del paciente.
        </p>
      </div>
    </div>
  </div>

  <!-- Quinta Etapa -->
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 pt-20 md:pt-[150px]">
    <div class="flex flex-col justify-center">
      <div class="">
        <img src="/lp-protesis-pierna/Recurso5.png" alt="" class="w-auto h-[70px] mb-8" />
        <p class="font-cairo font-medium text-[18px] ml-8">
            En la quinta etapa, el paciente inicia la rehabilitación con la prótesis, enfocándose en recuperar la movilidad y la independencia.
        </p>
      </div>
    </div>
    <div class="md:col-span-2 items-end">
      <img
        src="/lp-protesis-pierna/quinta_etapa.png"
        alt="Quinta Etapa"
        class="w-auto md:h-[300px] ml-auto"
      />
    </div>
  </div>
</section>
