---

---

<section
  id="testimonios"
  class="relative mx-auto max-w-7xl py-20 px-4 w-full p-10 items-center overflow-hidden"
>
  <div class="absolute inset-0 bg-gradient-radial z-0"></div>
  <h2 class="text-center font-display font-semibold text-[32px]">
    <span class="text-default1">Testimonios</span> de Pacientes
  </h2>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-8 pt-[50px]">
    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">
      <div class="flex items-center gap-4 pb-4">
        <img
          alt="Freddy Hidalgo"
          src="/lp-protesis-pierna/freddy.png"
          class="inline-block h-10 w-10 rounded-full ring-2 ring-white"
        />
        <div class="flex flex-col gap-1">
          <h4 class="font-display font-normal text-[20px]">Freddy Hidalgo</h4>
          <p class="font-display font-normal text-[16px] text-[#6D6D6D]">
            Pacientes Transfemoral
          </p>
        </div>
      </div>

      <div class="font-cairo font-normal text-[16px]">
        <p>
          Gracias por todo el buen trabajo que han realizado. Son un gran equipo
          de profesionales
        </p>
      </div>
    </div>

    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">
      <div class="flex items-center gap-4 pb-4">
        <img
          alt="Andrew Caicedo"
          src="/lp-protesis-pierna/andrew.png"
          class="inline-block h-10 w-10 rounded-full ring-2 ring-white"
        />
        <div class="flex flex-col gap-1">
          <h4 class="font-display font-normal text-[20px]">Andrew Caicedo</h4>
          <p class="font-display font-normal text-[16px] text-[#6D6D6D]">
            Pacientes Transtibial
          </p>
        </div>
      </div>

      <div class="font-cairo font-normal text-[16px]">
        <p>
          Estoy muy emocionado por volver al obtener mi independencia gracias a
          mi prótesis
        </p>
      </div>
    </div>

    <div class="max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow">
      <div class="flex items-center gap-4 pb-4">
        <img
          alt="Manuel Pulido"
          src="/lp-protesis-pierna/manuel.png"
          class="inline-block h-10 w-10 rounded-full ring-2 ring-white"
        />
        <div class="flex flex-col gap-1">
          <h4 class="font-display font-normal text-[20px]">Manuel Pulido</h4>
          <p class="font-display font-normal text-[16px] text-[#6D6D6D]">
            Pacientes Transfemoral
          </p>
        </div>
      </div>

      <div class="font-cairo font-normal text-[16px]">
        <p>
          Resalto mucho el trato con el paciente y las instalciones que hacen
          que sienta confianza en la empresa. Además, en KYP ofrecen repuestos y
          mantenimiento.
        </p>
      </div>
    </div>
  </div>
</section>

